#app {
    .account {
        margin: 0 auto;
        padding: 10px;
        width: 425px;
        text-align: center;

        @media screen and (max-width: $breakpoint-bravo) {
            width: calc(100% - 20px);
        }

        .account__title {
            margin: 10px;
        }
    }
}