#app {
    .auth {
        .auth__status {
            margin: 10px;
        }
        .auth__form {
            display: flex;
            justify-content: center;
            .auth__inputs {
                margin-top: 10px;
                width: 400px;
                .auth__input {
                    outline-style: none;
                    margin: 5px;
                    width: calc(100% - 20px);
                    padding: 15px;
                    font-size: 15px;
                    font-family: Helvetica;
                    -webkit-appearance: none;
                    border: 1px solid $primary-color;
                    border-radius: 20px;
                    box-sizing: border-box;
                }
                .auth__input::placeholder {
                    color: $primary-color;
                    opacity: 1;
                }
            }
        }
    }
}