#app {
    margin: auto;
    max-width: 1300px;
    text-align: center;
    color: $primary-color;

    .header {
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding: 20px;

        .header__title {
            padding: 10px;
        }

        @media screen and (max-width: $breakpoint-alpha) {
            flex-wrap: wrap;
        }

        .header__nav {
            padding: 10px;

            a {
                font-weight: bold;
                
                &.router-link-exact-active {
                    color: $secondary-color;
                }
            }
        }
    }
}